body{background-color: #2F2C79 !important;}
.card{
    background-color: #181818 !important;
    height: 350px !important;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body button{
    background-color: #FF0000;
}
.card-title{
    margin-bottom: 1rem !important;
}
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.card-text {
    max-height: 50px; 
    overflow: hidden; 
    text-align: center;
}

.modal-content{
    background-color: #B20003 !important;
}
.lista-modal li{
    margin-bottom: 1rem;
}

.modal-icono img {
    width: 150px; 
    height: auto; 

}

@media (max-width: 898px) {
    .row-cols-md-2 .col {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}